.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 200px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000;
  color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: url(../../images/project-area-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}