.footer__copyright {
  margin: 0;
  padding: 0;
  max-width: 318px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  mix-blend-mode: normal;
}