.data-form__input {
  width: 500px;
  background-color: transparent;
  color: #ccc;
  margin: 0;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 20px gold;
  border: solid 2px yellow;
  outline: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  padding-left: 10px;
}